<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta name="google-site-verification" content="0d7nQud42F-6npGpl106FHHZA3nZM-g7AeJMDOfL5Sc" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111332416-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111332416-1');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>短く.ga</title>
<link rel="stylesheet" type="text/css" href="{{ static_url("view.css") }}" media="all">
<script type="text/javascript" src="{{ static_url("view.js") }}"></script>

</head>
<body id="main_body" >

	<img id="top" src="{{ static_url("top.png") }}" alt="">
	<div id="form_container">

		<h1><a>短く.ga</a></h1>
		<form id="form_64083" class="appnitro"  method="post" action="/">
			<div class="form_description">
			<h2>短く.ga</h2>
			<p>短く.gaは個人によるURL短縮サービスです。</p>
			<p>言語:Python フレームワーク:Tornado <br>製作時間:1時間 作成者:<a href="https://mzkk.ga/Ssqi6TTR" target="_blank">Kohe_Ioroi</a></p>
			<p>今までに短縮されたURL数:{{ url_list_math }}</p>
			<p>最新:マルチドメイン対応<br>2017/12/19 サービス開始</p>
		</div>
			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">URL </label>
		<div>
			<input id="element_1" name="element_1" class="element text large" type="url" value="" placeholder="短縮するURLを入力してください"/>
		</div>
		<label class="description" for="element_1">結果 </label>
		<div>
			<input id="element_1" name="element_2" class="element text large" type="text" value="{{ url_short }}" placeholder="短縮結果" readonly="readonly"/>
		</div>
		</li>

					<li class="buttons">
				<input id="saveForm" class="button_text" type="submit" name="submit" value="短縮！" />
		</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="{{ static_url("bottom.png") }}" alt="">
	</body>
</html>
